<div class="calendar-container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <% Date::DAYNAMES.each do |day| %>
          <th><%= day %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @today.all_week.each do |date| %>
          <td>
            <h5><%= date.strftime("%B %d, %Y") %></h5>
            <% @schedules.each do |schedule| %>
              <% if schedule.date == date %>
                <% schedule.shifts.each do |shift| %>
                  <div class="shift-block">
                    <p><strong>Employee:</strong> <%= shift.user.name %></p>
                    <p><strong>Time:</strong> <%= shift.shift_time.strftime("%I:%M %p") %></p>
                    <p><strong>Site:</strong> <%= shift.schedule.site.name %></p>
                    <% if current_user.manager? %>
                      <%= link_to "Edit Shift", edit_shift_path(shift), class: "btn btn-secondary" %>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shiftModal">
                        Create/Edit Shift
                      </button>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
