<div class="page-container">
  <h1>Schedules for the Week of <%= @today.beginning_of_week.strftime("%B %d, %Y") %> - <%= @today.end_of_week.strftime("%B %d, %Y") %></h1>

  <%= link_to "Previous Week", schedules_path(start_date: @today - 7.days), remote: true %>
  <%= link_to "Next Week", schedules_path(start_date: @today + 7.days), remote: true %>

  <!-- Calendar structure -->
  <div id="calendar-container">
    <%= render 'calendar' %>
  </div>
</div>
