

<div class='container-dashboard'>


  <div class='sidebar'><%= render "shared/sidebar" %></div>


  <div class="calendar-container">
  <%= month_calendar(events: @shifts, end_attribute: :end_time) do |date, shifts| %>
    <%= date %>

    <% shifts.each do |shift| %>
<%= link_to shift_path(shift), class: 'card-link' do %>

      <div class="shift">
        <p>@<%= shift.schedule.site.name %></p>
        <small><%= shift.time unless shift.multi_days? %></small>
      </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
