<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left-aligned links (Home, Sites, etc.) -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <% if current_user.manager? %>
            <li class="nav-item">
              <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Shifts", shifts_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Schedule", schedules_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Requests", requests_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sites", sites_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Shifts", shifts_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
            <%= link_to "Clock In", clock_in_page_path, class: "nav-link" %>
            </li>
          <% end %>
        <% end %>
      </ul>


      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <a class="fa-solid fa-user" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%= requests_path %>">Requests</a>
              <a class="dropdown-item" href="<%= new_request_path %>">New Request</a>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
