<div class="page-container">
<h1>Edit Shift</h1>
<div class='custom-form'>
<%= form_with model: @shift, local: true do |f| %>
  <div class="field">
    <%= f.label :shift_date %>
    <%= f.date_field :shift_date %>
  </div>

  <div class="field mt-2">
    <%= f.label :start_time %>
    <%= f.time_field :start_time %>
  </div>

    <div class="field mt-2">
    <%= f.label :end_time %>
    <%= f.time_field :end_time %>
  </div>

    <div class="field mt-2">
    <%= f.label :user_id, "Assign to Employee" %>
    <%= f.collection_select :user_id, User.all, :id, :name, prompt: "Select Employee" %>
  </div>

    <div class="field mt-2">
    <%= f.label :schedule_id, "Assign to Schedule (Site)" %>
    <%= f.collection_select :schedule_id, Schedule.includes(:site), :id, :site_name, prompt: "Select Schedule" %>
  </div>

  <div class="actions">
    <%= f.submit "Update Shift", class: "btn btn-primary mt-4" %>
  </div>
<% end %>
</div>
</div>