<div class='container-dashboard flex mt-3'>
  <div class='sidebar'>
      <% unless current_page?(root_path) %>
       <%= render "shared/sidebar" %>
      <% end %>
  </div>




  <div class="page-container">
    <h1>Shifts</h1>

    <% if current_user.manager? %>
  <div class="text-right mb-3">
    <%= link_to "Create New Shift", new_shift_path, class: "btn btn-primary" %>
  </div>
<% end %>

    <div class="card-container">
      <% @shifts.each do |shift| %>
        <div class="card">
          <h2><%= shift.user.name %></h2>
          <p><strong>Shift Date:</strong> <%= shift.shift_date.strftime("%B %d, %Y") %></p>
          <p><strong>Shift Time:</strong> <%= shift.start_time.strftime("%I:%M %p") %></p>
          <p><strong>Site:</strong> <%= shift.schedule.site.name %> (<%= shift.schedule.site.address %>)</p>
          <p><strong>Clocked In:</strong> <%= shift.clocked_in ? "Yes" : "No" %></p>
          <p class="mt-3">
            <%= link_to "View Shift", shift_path(shift), class: "btn btn-primary" %>
            <% if current_user.manager? %>
              <%= link_to "Edit Shift", edit_shift_path(shift), class: "btn btn-secondary" %>
              <%= link_to "Delete Shift", shift_path(shift), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
              <%= button_to "Clock In", clock_ins_path(shift_id: shift.id), method: :post, class: "btn btn-clockin" %>
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
