<h1>Shift Details</h1>
<p><strong>Employee:</strong> <%= @shift.user.name %></p>
<p><strong>Shift Date:</strong> <%= @shift.shift_date.strftime("%B %d, %Y") %></p>
<p><strong>Shift Time:</strong> <%= @shift.start_time.strftime("%I:%M %p") %></p>
<p><strong>Site:</strong> <%= @shift.schedule.site.name %> (<%= @shift.schedule.site.address %>)</p>
<p><strong>Clocked In:</strong> <%= @shift.clocked_in ? "Yes" : "No" %></p>

<%= link_to "Request a Swap", new_request_path(shift_id: @shift.id), class: "btn btn-warning" %>
