<div class='container-dashboard flex'>

  <!-- left-side menu -->
  <div class='sidebar'>
      <% unless current_page?(root_path) %>
       <%= render "shared/sidebar" %>
      <% end %>
  </div>

  <!-- main dashboard content -->
  <div class='dashboard-content'>

    <!-- TOP section: unsolved requests, todo list and clock -->
    <div class="dash-top flex">
      <!-- unsolved requests -->

        <div class='dash-top-left card-dash'>
          <% if current_user.manager? %>
          <!-- Manager view unsolved request -->
            <%= link_to requests_path, class: 'card-link' do %>
              <div class="card-content">
                <p>You have</p>
                <h2><%= Request.where(request_status: "pending").count %></h2>
                <p>pending request<%= Request.where(request_status: nil).count == 1 ? '' : 's'%></p>
              </div>
            <% end %>
          <% else %><!-- user view my pending request -->
            <%= link_to requests_path, class: 'card-link' do %>
              <div class="card-content">
                <p>You have</p>
                <h2><%= Request.where(user_id: current_user.id, request_status: "pending").count %></h2>
                <p>request<%= Request.where(request_status: "pending").count == 1 ? '' : 's'%> awaiting decision</p>
              </div>
            <% end %>
          <% end %>
        </div>

      <!-- todo list -->
      <div class='dash-top-middle card-dash' data-controller="todo">
        <div class="todo-list">
          <h3 class='todo-greetings '>Hello <%= current_user.name%> ! Here's your today's to-dos : </h3>
          <ul id="todo-items" data-todo-target="todoList">
            <!-- Todo items will be dynamically added here -->
            <li>
              <div class="todo-item">
                <input type="checkbox" class="todo-checkbox" ${completed ? 'checked' : ''}>
                <span class="todo-text ${completed ? 'completed' : ''}">${text}</span>
                <button class="todo-delete-btn">X</button>
              </div>
            </li>
          </ul>
          <button id="add-todo" class="add-todo-btn" data-action="click->todo#addTodo">+</button>
        </div>
      </div>

      <!-- current time & next shift -->
      <div class='dash-top-right'>
        <!-- clock -->
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
        <div class="dash-clock card-dash" data-controller="dashboard">
          <div id="clock"></div>
        </div>
        <!-- shift -->
        <div class='dash-next-shift card-dash'>
          <% if current_user.manager? %>
          <!-- Manager view next shift -->
          <ul>
            <% if @next_shift %>
             <%= link_to shift_path(@next_shift), class:'card-link' do %>
              <li><h5><b>Next shift starts on <%= @next_shift.shift_date.strftime("%d %B")%></b></h5></li>
              <li class='time'><%= @next_shift.start_time.strftime("%H:%M") %></li>
              <li class='place'>@ <%= @next_shift.schedule.site.name %></li>
              <li>On duty: <%= @next_shift.user.name %>
              <li>Status: <%= @next_shift.clocked_in ? "Arrived" : "On the way"%><li>
             <% end %>
            <% else %>
              <li>No upcoming shifts.</li>
            <% end %>
          </ul>
          <% else %><!-- user view next my shift -->
          <ul>
            <% if @next_shift_u %>
              <%= link_to shift_path(@next_shift_u), class:'card-link' do %>
              <li><h5><b>Your next shift on: <%= @next_shift_u.shift_date.strftime("%d %B")  %></b></h5></li>
              <li class='time'><%= @next_shift_u.start_time.strftime("%H:%M") %></li>
              <li class='place'>@ <%= @next_shift_u.schedule.site.name %></li>
              <% end %>
              <li>Already arrived?
              <button id="clockInButton" class="btn btn-clockin">Clock In</button> </li>
              <script>
                document.getElementById('clockInButton').addEventListener('click', function() {
                  navigator.geolocation.getCurrentPosition((position) => {
                    const { latitude, longitude } = position.coords;

                    // Send the coordinates to your server to check if user is at the site location
                    fetch("<%= clock_in_shift_path(@next_shift) %>", {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json",
                        "X-CSRF-Token": "<%= form_authenticity_token %>"
                      },
                      body: JSON.stringify({
                        latitude: latitude,
                        longitude: longitude
                      })
                    }).then(response => response.json())
                      .then(data => {
                        if (data.success) {
                          document.getElementById('locationStatus').textContent = "Clocked in successfully!";
                        } else {
                          document.getElementById('locationStatus').textContent = data.message;
                        }
                      });
                  }, (error) => {
                    document.getElementById('locationStatus').textContent = "Unable to retrieve your location.";
                  });
                });
              </script>



            <% else %>
              <li>No upcoming shifts.</li>
            <% end %>
          </ul>
          <% end %>
        </div>
      </div>
    </div>



    <!-- Bottom : Calendar and Map -->
    <div class='dash-bottom flex'>
      <!-- calendar -->
      <div class='dash-bottom-left card-dash'>
      <% if current_user.manager? %>
      <!-- Manager view calendar -->
        <div class='week-calender flex'>
          <%= week_calendar(events: @shifts, end_attribute: :end_time) do |date, shifts| %>
              <%= date %>

              <% shifts.each do |shift| %>
          <%= link_to shift_path(shift), class: 'card-link' do %>

                <div class="shift" style="background-color: <%= shift_background_color(shift.user) %>;">
                  <p>@<%= shift.schedule.site.name %></p>
                  <small><%= shift.time unless shift.multi_days? %></small>
                </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% else %> <!-- User view calendar -->
        <div class='week-calender flex'>
        <%= week_calendar(events: @shifts_u, end_attribute: :end_time) do |date, shifts| %>
            <%= date %>

            <% shifts.each do |shift| %>
        <%= link_to shift_path(shift), class: 'card-link' do %>

              <div class="shift">
                <p>@<%= shift.schedule.site.name %></p>
                <small><%= shift.time unless shift.multi_days? %></small>
              </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <% end %>

      </div>


      <!-- Map -->
      <div class='dash-bottom-right card-dash'>
        <% if current_user.manager? %>
        <%= link_to "+", new_site_path, class: "add-button" %>
        <% end %>

        <div class="map" style="width: 100%; height: 450px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
