
  <div class='container-sites '>
    <%# sidebar %>
    <%= render "shared/sidebar" %>

    <div class='sites-container-content mt-4'>

      <div class='sites-container-top'>
      <h1>My Sites</h1>
          <% if current_user.manager? %>
          <div class="mb-3">
            <%= link_to "Add a New Site", new_site_path, class: "btn btn-primary" %>
          </div>
          <% end %>

      </div>

      <%# sites list & map%>
      <div class='sites-container-bottom'>

        <%# sites list %>
        <div class='sites-list'>
          <% @sites.each do |site|%>
          <ul>
              <li class='card' ><%= site.name%>,&nbsp;
                <%= site.address%><br>
                <%= link_to '', site_path(site), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'fas fa-trash-alt' %>

                </li>
          </ul>
            <% end %>

         </div>

        <div class="map-sites" style="width: 50vw; height: 450px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

      </div>
    </div>

  </div>
